.header {
  height: 60px;
  width: 100vw;
  background: #F1F4EF;
  display: flex;
  justify-content: center;
  font-size: 13px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &-wrap {
    width: calc(100vw - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      display: flex;
      align-items: center;

      &-icon {
        height: 24px;
        width: 24px;
        margin-right: 10px;
      }

      &-name {
        font-family: 'FuturaPTBold', sans-serif;
      }
    }

    &-navigation {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        display: none;
      }

      &-link {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

.raven_logo {
  background: url("/assets/static/logo/header/raven-logo.svg") center /cover no-repeat;
}





