<div class="home">
  <div class="home-section">
    <div class="home-section-background">
      <div class="home-section-background-image background_image"></div>
    </div>
    <div class="home-section-content">
      <div class="home-section-content-title">Digital studio</div>
      <div class="home-section-content-text">
        <div class="home-section-content-text-feature">Web Development</div>
        <div class="home-section-content-text-description">Мы берем на себя всю отвественность за реализацию будущего
          проекта, мы успешно реализуем проекты в сфере e-commerce, индивидуальные сайты компаний (Back-End /
          Front-End / Dev ops).
        </div>
        <div class="home-section-content-text-more">Подробнее</div>
      </div>
      <div class="home-section-content-buttons">
        <div class="home-section-content-buttons-selector active">Web development</div>
        <div class="home-section-content-buttons-selector">UI/UX design</div>
        <div class="home-section-content-buttons-selector">Support</div>
      </div>

     <div class="home-section-content-social">
       <div class="home-section-content-social-link facebook"></div>
       <div class="home-section-content-social-link instagram"></div>
       <div class="home-section-content-social-link youtube"></div>
       <div class="home-section-content-social-link telegram"></div>
       <div class="home-section-content-social-mail">hello@raven-development.com</div>
     </div>
    </div>
  </div>
</div>
