.home {
  margin: 0 20px;

  &-section_one {
    height: calc(100vh - 60px);
    width: 100%;
    position: relative;

    &-background {
      width: 100%;
      font-family: 'FuturaPTBold', sans-serif;
      font-size: 10vw;
      background: #213875;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 50%;
      position: absolute;
    }

    &-content {
      width: 100%;
      position: absolute;
      bottom: 30px;
      display: flex;
      justify-content: space-between;
      margin: 0 20px;

      &-left_block {
        height: 100%;
        width: 45%;

        &-title {
          font-size: 28px;
          font-family: 'FuturaPTBold', sans-serif;
          margin-bottom: 10px;
        }

        &-description {
          margin-bottom: 20px;
        }
      }

      &-right_block {
        height: 100%;
        width: 55%;
      }
    }
  }
}

.decoration {
  color: #213875;
  cursor: pointer;
  text-decoration: underline;
}

