<div class="header">
  <div class="header-wrap">

    <div class="header-wrap-logo">
      <div class="header-wrap-logo-icon raven_logo"></div>
      <div class="header-wrap-logo-name">Raven Development</div>
    </div>

    <div class="header-wrap-navigation">
      <div class="header-wrap-navigation-link pointer">Главная</div>
      <div class="header-wrap-navigation-link pointer">Наш сервис</div>
      <div class="header-wrap-navigation-link pointer">Портфолио</div>
      <div class="header-wrap-navigation-link pointer">Контакты</div>
      <div class="header-wrap-navigation-link pointer">О нас</div>
    </div>
  </div>
</div>
