<div class="home">
  <div class="home-section_one">
    <div class="home-section_one-background">CREATIVE AGENCY</div>
    <div class="home-section_one-content">
      <div class="home-section_one-content-left_block">

        <div class="home-section_one-content-left_block-selectors">
          <mat-tab-group headerPosition="below">
            <mat-tab label="Development">
              <div class="home-section_one-content-left_block-title">Web Development</div>

              <div class="home-section_one-content-left_block-description">Разработка максимально удобного
                пользовательского
                интерфейса - чтобы ваш сайт был не только удобен, но и привлекал внимание ваших клиентов.
                <br><br><span class="decoration">Подробне</span>
              </div>
            </mat-tab>
            <mat-tab label="Design">
              <div class="home-section_one-content-left_block-title">Web Design</div>

              <div class="home-section_one-content-left_block-description">Разработка максимально удобного
                пользовательского
                интерфейса - чтобы ваш сайт был не только удобен, но и привлекал внимание ваших клиентов.
                <br><br><span class="decoration">Подробне</span>
              </div>
            </mat-tab>
            <mat-tab label="Support">
              <div class="home-section_one-content-left_block-title">Support</div>

              <div class="home-section_one-content-left_block-description">Разработка максимально удобного
                пользовательского
                интерфейса - чтобы ваш сайт был не только удобен, но и привлекал внимание ваших клиентов.
                <br><br><span class="decoration">Подробне</span>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="home-section_one-content-right_block"></div>
    </div>
  </div>
</div>
